.main-content {
  width: 100%;
  &_about {
    background: #f4f4f4 url('../images/page_about.jpg') no-repeat top;
    background-size: 100%;
  }
  &_map {
    background: #f4f4f4 url('../images/page_map.jpg') no-repeat top;
    background-size: 100%;
  }
  &_win {
    background: #f4f4f4 url('../images/page_win.jpg') no-repeat top;
    background-size: 100%;
  }
  &_article {
    background: #f4f4f4 url('../images/page_article.jpg') no-repeat top;
    background-size: 100%;
  }
  &_dream {
    background: #f4f4f4 url('../images/page_dream.jpg') no-repeat top;
    background-size: 100%;
  }
  &_sale {
    background: #f4f4f4 url('../images/page_sale.jpg') no-repeat top;
    background-size: 100%;
  }
  &_catalog {
    background: #f4f4f4 url('../images/page_catalog.jpg') no-repeat top;
    background-size: 100%;
  }
  &_search {
    background: #f4f4f4 url('../images/page_search.jpg') no-repeat top;
    background-size: 100%;
  }
}

.main-header {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-size: 100% 100%;
  &__container {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  &_slider {
    position: fixed;
    top: 0;
    padding: 30px 0;
    z-index: 101;
    .main-header__logo {
      a:last-child {
        display: none;
      }
    }
  }
}

.main-header__logo {
  display: inline-block;
  a {
    display: inline-block;
    &:first-child {
      margin-right: 30px;
    }
  }
  img {
    display: inline-block;
    max-width: 100%;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

.main-header__nav {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: inline-block;
      position: relative;
      margin: 0 20px;
      padding: 1px;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus {
        text-decoration: none;
        &:after {
          width: 100%;
        }
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #ffffff;
        height: 1px;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.main-header__call {
  display: inline-block;
  span {
    display: inline-block;
    margin-right: 40px;
    color: #fee451;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.main-breadcrumps {
  display: block;
  margin-top: 10px;
  margin-bottom: 35px;
  a {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  span {
    display: inline-block;
    margin: 0px 10px;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
  }
}

.main-title {
  display: inline-block;
  margin: 0 auto 90px;
  padding: 15px 25px;
  border: 5px solid rgba(233, 186, 0, 0.8);
  color: #ffffff;
  font-family: Intro;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  &_m-b-sm {
    margin-bottom: 30px;
  }
}

.main-sub-title {
  display: block;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 35px;
  background: url('../images/sub_title.png') no-repeat bottom;
  background-size: 100% auto;
  color: #333333;
  font-family: Intro;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  &_dark {
    color: #f4f4f4;
    background: url('../images/sub_title_dark.png') no-repeat bottom;
  }
}

.main-card {
  width: 100%;
  margin-bottom: 80px;
  border-radius: 15px;
  background-color: #ffffff;
}

.main-card__about-pre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 65px 80px;
  div:first-child {
    max-width: 645px;
  }
  img {
    max-width: 100%;
  }
  span {
    display: block;
    margin-bottom: 30px;
    color: #3e4f5a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin-bottom: 30px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.main-card__about-wins {
  padding: 65px 80px;
  background-color: #434242;
  text-align: center;
  color: #f4f4f4;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  p {
    margin-bottom: 65px;
  }
}

.about-wins__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.about-wins__card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
  span {
    display: block;
    margin-bottom: 12px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  b {
    display: block;
    color: #ffc000;
    font-family: "Open Sans";
    font-size: 114px;
    font-weight: 700;
  }
}

.main-card__about-who {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 65px 80px;
  div:last-child {
    max-width: 585px;
  }
  img {
    max-width: 100%;
  }
  span {
    display: block;
    margin-bottom: 30px;
    color: #3e4f5a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin-bottom: 30px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.main-footer {
  padding: 40px 0 60px 0;
  background-color: #37474f;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 100px;
    }
    ul {
      display: inline-flex;
      flex-flow: column nowrap;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          display: inline-block;
          position: relative;
          margin-bottom: 12px;
          opacity: 0.9;
          color: #ffffff;
          font-family: "Open Sans";
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          transition: all 0.2s ease-out;
          &:hover,
          &:focus {
            text-decoration: none;
            &:after {
              width: 100%;
            }
          }
          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: #ffffff;
            height: 1px;
            transition: all 0.2s ease-out;
          }
        }
      }
    }
    p {
      color: #cacaca;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.main-card__contact {
  padding: 70px 70px 100px 70px;
}

.main-card-contact__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-card-contact__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  img {
    display: inline-block;
    max-width: 100%;
    margin-right: 20px;
  }
  span {
    display: block;
    margin-bottom: 5px;
    font-family: "Open Sans";
    font-size: 14px;
    color: #222222;
    font-weight: 700;
  }
  p {
    margin: 0;
    font-family: "Open Sans";
    font-size: 14px;
    color: #575757;
    font-weight: 400;
  }
}

.main-card__call {
  padding: 50px;
  background: url('../images/map_line.png') no-repeat top;
  background-size: 100% auto;
  text-align: center;
  span {
    display: block;
    margin-bottom: 20px;
    color: #222222;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #3e4f5a;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
  }
  button {
    margin-top: 20px;
    padding: 16px 50px;
    border: none;
    outline: none;
    border-radius: 22px;
    background-color: #ffc000;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

.main-card-call__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  input {
    display: inline-block;
    width: 225px;
    margin: 5px;
    padding: 16px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #eeeeee;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    color: #222222;
    transition: all 0.2s ease-out;
    &:focus {
      box-shadow: inset 0 0 1px 1px #ffc000;
    }
  }
  select {
    display: inline-block;
    width: 225px;
    margin: 5px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    color: #838d8f;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      box-shadow: inset 0 0 1px 1px #ffc000;
    }
  }
}

.main-card__articles {
  padding: 30px 80px;
}

.main-card__articles-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-card__articles-card {
  display: inline-flex;
  flex-flow: column nowrap;
  width: 300px;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    height: 40px;
    margin: 30px 0 25px;
    overflow: hidden;
    color: #3e4f5a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s ease-out;
  }
  p {
    height: 80px;
    margin: 0;
    overflow: hidden;
    color: #575757;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    span {
      color: #ffc000;
    }
    img {
      -webkit-filter: brightness(80%);
    }
  }
}

.main-card__win {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 65px 80px 30px 80px;
  div:first-child {
    max-width: 600px;
  }
  img {
    max-width: 100%;
  }
  span {
    display: block;
    margin-bottom: 30px;
    color: #3e4f5a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin-bottom: 30px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.main-card__news-cards {
  display: flex;
  flex-flow: column nowrap;
  padding: 60px 100px 45px 100px;
}

.main-card__news-card {
  display: flex;
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  transition: all 0.2s ease-out;
  img {
    display: inline-block;
    width: 200px;
    height: 130px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  div:last-child {
    display: inline-flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    span {
      display: block;
      margin-bottom: 18px;
      color: #3e4f5a;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      transition: all 0.2s ease-out;
    }
    p {
      color: #575757;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
  }
  &:hover,
  &:focus {
    text-decoration: none;
    div:last-child {
      span {
        color: #ffc000;
      }
    }
    img {
      -webkit-filter: brightness(80%);
    }
  }
}

.main-pagintation {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 4px;
      color: #a6a6a6;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      &:hover,
      &:focus {
        text-decoration: none;
        color: #ffc000
      }
    }
  }
}

.main-pagintation_active {
  background-color: #ffc000 !important;
  color: #ffffff !important;
  &:hover,
  &:focus {
    color: #f4f4f4 !important;
  }
}

.main-card__dream-main {
  padding: 70px 80px;
  text-align: center;
  p {
    display: block;
    max-width: 530px;
    margin: 0 auto 35px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  span {
    display: block;
    margin-bottom: 30px;
    color: #3e4f5a;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
}

.dream-main__title {
  display: block;
  margin-bottom: 110px;
  text-shadow: 0 14px 27px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 140px;
  font-weight: 700;
}

.dream-main__steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.dream-main__step {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 185px;
  margin-bottom: 20px;
  text-align: center;
  img {
    display: block;
    max-width: 100%;
  }
  p {
    display: block;
    max-width: 160px;
    height: 60px;
    margin: 30px auto 20px;
    overflow: hidden;
    color: #575757;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.dream-banks {
  padding: 0 125px 40px;
  text-align: center;
  p {
    margin-bottom: 60px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
}

.dream-banks__cards {
  display: flex;
  flex-flow: row wrap;
}

.dream-banks__card {
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 12px 30px 12px;
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
  }
  span {
    display: block;
    color: #222222;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
}

.dream-pay {
  padding: 65px 110px 120px 110px;
  background-color: #434242;
  text-align: center;
}

.dream-pay__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.dream-pay__card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 185px;
  margin-bottom: 20px;
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  span {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    color: #f4f4f4;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.sale-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 60px 30px 10px 30px;
}

.sale-card {
  width: 570px;
  height: 300px;
  margin-bottom: 50px;
  padding: 50px;
  overflow: hidden;
  background-color: #ffffff;
  border: 8px solid #ffc000;
  span {
    display: block;
    margin-bottom: 40px;
    color: #222222;
    font-family: Intro;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  a {
    display: inline-block;
    padding: 16px 50px;
    border: none;
    outline: none;
    border-radius: 22px;
    background-color: #ffc000;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.sale-card_simple {
  width: 570px;
  height: 300px;
  margin-bottom: 50px;
  overflow: hidden;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

#owl-sale {
  display: block;
  margin-bottom: 100px;
}

.owl-sale__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  text-align: center;
  p {
    max-width: 660px;
    height: 102px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    position: relative;
    padding: 15px 55px;
    border-radius: 5px 4px 4px 5px;
    background-color: #ffc000;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    transition: all 0.5s ease-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.25);
      transition: all 0.3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: scale(1.2, 1.2);
    }
    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
      &:before {
        opacity: 0;
        border-radius: 5px 4px 4px 5px;
        transform: scale(0.5, 0.5);
      }
      &:after {
        opacity: 1;
        border-radius: 5px 4px 4px 5px;
        transform: scale(1, 1);
      }
    }
  }
}

.owl-sale-card__title {
  display: inline-block;
  margin: 0 auto 30px;
  padding: 15px 25px;
  border: 5px solid rgba(233, 186, 0, 0.8);
  color: #ffffff;
  font-family: Intro;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 630px;
  margin: 0 auto 60px auto;
  text-align: left;
  .checkbox {
    label {
      opacity: 0.7;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: relative;
    }
    [type="checkbox"]:not(:checked):before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 18px;
      height: 18px;
      background: url('../images/icon_unchecked.png') no-repeat center;
    }
    [type="checkbox"]:checked:before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 18px;
      height: 18px;
      background: url('../images/icon_checked.png') no-repeat center;
    }
  }
  p {
    display: block;
    margin-bottom: 12px;
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
  }
  &__slider {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 305px;
  }
  &__check {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 305px;
    input[type='radio'] {
      display: none;
    }
    div {
      margin-bottom: 20px;
      .btn {
        margin-right: 2px;
        padding: 16px 20px;
        outline: none;
        box-shadow: none;
        border-radius: 4px 5px 5px 4px;
        border: 1px solid rgba(221, 221, 221, 0.5);
        background: transparent;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        &.active,
        &:focus,
        &:hover,
        &:active {
          background-color: #e9ba00;
          border-color: #e9ba00;
        }
      }
    }
  }
  .text-center {
    width: 100%;
    button {
      padding: 22px 65px;
      border: none;
      outline: none;
      background: transparent;
      border-radius: 999rem;
      border: 1px solid #ffc000;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s ease-out;
      &:hover {
        background: #ffc000;
      }
    }
  }
}

.catalog-sort__slider {
  .catalog-sort__price {
    display: inline-block;
    width: 150px;
    padding: 14px 16px;
    border: none;
    outline: none;
    border-radius: 5px 4px 4px 5px;
    border: 1px solid rgba(188, 193, 194, 0.3);
    text-align: right;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #ffc000;
    }
  }
}

.catalog-sort__check {
  position: relative;
}

.catalog-main {
  padding: 40px 75px 50px 75px;
  p {
    display: block;
    margin-bottom: 45px;
    color: #8c8c8c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    .catalog-main__button {
      display: inline-block;
      padding: 16px 33px;
      background-color: #ffc000;
      border-radius: 999rem;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s ease-out;
      &:hover,
      &:focus {
        text-decoration: none;
        opacity: 0.6;
      }
    }
    div {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      max-height: 80px;
      overflow: hidden;
      text-align: center;
      img {
        display: block;
        margin-bottom: 15px;
      }
      p {
        color: #6b6b6b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        a {
          color: #6b6b6b;
          text-decoration: none;
        }
      }
    }
  }
}

.catalog-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 20px;
  &_romantic {
    background: url('../images/catalog_1.jpg') no-repeat center;
    background-size: cover;
  }
  &_hollywood {
    background: url('../images/catalog_2.jpg') no-repeat center;
    background-size: cover;
  }
}

.catalog-feature {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 220px;
  text-align: center;
  img {
    display: block;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.catalog-table__link {
  display: inline-block;
  padding: 12px 25px;
  background-color: #ffc000;
  border-radius: 999rem;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  &:hover,
  &:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
  }
}

.slide_1-1 {
  background: url('../images/home_1.jpg') no-repeat center;
  background-size: cover;
}

.slide_1-2 {
  background: url('../images/home_2.jpg') no-repeat center;
  background-size: cover;
}

.slide_1-3 {
  background: url('../images/home_3.jpg') no-repeat center;
  background-size: cover;
}

.slide_2 {
  background: url('../images/home_4.jpg') no-repeat center;
  background-size: cover;
}

.slide-fill {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow-y: auto;
}

.slide-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  a {
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    &:hover,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }
  p {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.slide-fill-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &_sort {
    align-items: center;
  }
}

.slide-fill-main__nav {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  max-width: 600px;
  padding: 50px 50px 50px 100px;
  border-radius: 0 10px 10px 0;
  background-color: rgba(37, 50, 55, 0.5);
  &_fixed {
    width: 600px;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -200px;
    z-index: 3;
  }
  &_sort {
    justify-content: flex-end;
  }
  .catalog-sort {
    margin: 0;
  }
  div:last-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  img {
    max-width: 100%;
  }
  a {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 17px;
      left: -40px;
      width: 24px;
      height: 1px;
      background-color: #e9ba00;
      transition: all 0.3s ease-out;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      &:before {
        width: 40px;
        left: -56px;
      }
    }
  }
  .slide-fill-main__nav_last {
    display: inline-block;
    margin-bottom: 0;
    color: #ffc100;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover,
    &:focus {
      text-decoration: none;
      &:after {
        width: 100%;
      }
    }
    &:before {
      display: none;
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #ffc100;
      height: 1px;
      transition: all 0.2s ease-out;
    }
  }
}

.slide-fill-main__about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  max-width: 850px;
  padding-right: 300px;
  p {
    display: block;
    max-height: 100px;
    margin-bottom: 25px;
    overflow: hidden;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
  }
  a {
    display: inline-block;
    position: relative;
    padding: 15px 55px;
    border-radius: 5px 4px 4px 5px;
    background-color: #ffc000;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.25);
      transition: all 0.3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: scale(1.2, 1.2);
    }
    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
      &:before {
        opacity: 0;
        border-radius: 5px 4px 4px 5px;
        transform: scale(0.5, 0.5);
      }
      &:after {
        opacity: 1;
        border-radius: 5px 4px 4px 5px;
        transform: scale(1, 1);
      }
    }
  }
}

.slide-fill-main__title {
  display: block;
  max-height: 102px;
  margin-bottom: 40px;
  overflow: hidden;
  color: #ffffff;
  font-family: Intro;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.slider_top {
  display: block;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -30px;
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}

.slider_bottom_1 {
  display: block;
  position: absolute;
  right: 84%;
  bottom: 30px;
  margin-left: -30px;
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}

.slider_bottom_2 {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -30px;
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}

.slider_bottom_3 {
  display: block;
  position: absolute;
  right: 17%;
  bottom: 30px;
  margin-left: -30px;
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}

.catalog-modal__title {
  display: block;
  padding-bottom: 5px;
  text-align: right;
  a {
    color: #ffc000;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.catalog-modal {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  .catalog-modal__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .catalog-modal__img {
    position: relative;
    margin-top: 25px;
  }
}

.catalog-modal__main {
  .catalog-modal-prev {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ededed;
    img {
      display: block;
      max-width: 100%;
    }
  }
  .catalog-modal-info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
  }
}

.catalog-modal__img {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    max-width: 100%;
  }
  a {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -52px;
    img {
      transition: all 0.3s ease-out;
    }
    &:hover {
      img {
        opacity: 0.6;
      }
    }
  }
}

.catalog-modal__why {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  margin-bottom: 20px;
  div {
    width: 50%;
    margin-bottom: 45px;
    &:nth-child(3) {
      p {
        font-weight: 400;
        text-decoration: line-through;
      }
    }
    span {
      display: block;
      margin-bottom: 10px;
      color: #838c8e;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
    p {
      margin: 0;
      color: #1f1f1f;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.catalog-modal-info {
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 25px 30px 35px 25px;
    border-radius: 4px;
    border: 1px solid #ededed;
    input {
      display: inline-block;
      width: 225px;
      margin: 5px;
      padding: 16px;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #eeeeee;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      color: #222222;
      transition: all 0.2s ease-out;
      &:focus {
        box-shadow: inset 0 0 1px 1px #ffc000;
      }
    }
    select {
      display: inline-block;
      width: 225px;
      margin: 5px;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
      background-color: #ffffff;
      color: #838d8f;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        box-shadow: inset 0 0 1px 1px #ffc000;
      }
    }
    button {
      margin-top: 20px;
      padding: 16px 50px;
      border: none;
      outline: none;
      border-radius: 22px;
      background-color: #ffc000;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.catalog-modal__send {
  max-width: 340px;
  margin: 100px auto 0;
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 25px 30px 35px 25px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #ededed;
    input {
      display: inline-block;
      width: 225px;
      margin: 5px;
      padding: 16px;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #eeeeee;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      color: #222222;
      transition: all 0.2s ease-out;
      &:focus {
        box-shadow: inset 0 0 1px 1px #ffc000;
      }
    }
    select {
      display: inline-block;
      width: 225px;
      margin: 5px;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
      background-color: #ffffff;
      border-radius: 5px;
      color: #838d8f;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        box-shadow: inset 0 0 1px 1px #ffc000;
      }
    }
    button {
      margin-top: 20px;
      padding: 16px 50px;
      border: none;
      outline: none;
      border-radius: 22px;
      background-color: #ffc000;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.catalog-modal__sent {
  max-width: 460px;
  margin: 100px auto 0;
}

.catalog-modal-sent__main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 60px 60px 70px 60px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  span {
    display: block;
    margin-bottom: 45px;
    color: #222222;
    font-family: "Intro", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 45px;
  }
  p {
    display: block;
    max-width: 220px;
    color: #575757;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
  }
}

.owl-modal {
  .item {
    width: 100%;
  }
}

.slide-fill-main__nav_hide-md {
  display: none;
}

.slide-fill-main__about_m-t {
  margin-top: 20px !important;
}