@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}

.modal-dialog {
  width: auto;
  max-width: 1000px;
}

#citySlider {
  color: #ffffff;
  .section {
    display: flex !important;
    flex-flow: column nowrap !important;
    width: 100% !important;
    min-height: 100% !important;
  }
  .slide {
    display: flex !important;
    flex-flow: column nowrap !important;
    min-height: 100% !important;
  }
  .fp-controlArrow {
    display: inline-block;
    background: none;
    border: none;
  }
}

.fp-tableCell {
  display: flex;
  flex-flow: column nowrap;
}

.fp-slidesNav {
  top: 20% !important;
  left: auto !important;
  right: 250px !important;
  bottom: auto !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #ffffff;
  opacity: 0.8;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 4px;
  height: 4px;
  margin: 0px;
  margin-top: -2px;
  background: #ffc000;
}

.table {
  * {
    border: none !important;
  }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 30px 20px;
  vertical-align: middle;
  color: #545454;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
}

.table {
  thead {
    background-color: #f8f8f8;
    th {
      padding: 24px 30px !important;
      color: #979798 !important;
      font-family: "Open Sans";
      font-size: 10px !important;
      font-weight: 400 !important;
      text-transform: uppercase;
    }
  }
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-striped>tbody>tr:nth-of-type(2n) {
  background-color: #f8f8f8;
}

#ex1-1 {
  display: inline-block;
}

#ex1-2 {
  display: inline-block;
}

.slider.slider-horizontal {
  width: 100%;
  margin: 30px 0;
}

.slider-handle {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), inset 4px -3px 5px rgba(0, 0, 0, 0.1);
  background: #e9ba00;
}

.slider.slider-horizontal .slider-track {
  height: 5px;
  margin-top: -2px;
}

.slider-track {
  border-radius: 2px;
  background: rgba(161, 159, 157, 0.2);
}

.slider-selection {
  background: #ffc000;
}

.owl-theme .owl-controls {
  width: 100%;
  position: absolute;
  top: 45%;
  .owl-buttons {
    display: flex;
    justify-content: space-between;
    opacity: 1;
  }
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  opacity: 1;
}

.owl-prev {
  margin-left: -25px !important;
  opacity: 1;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 0.6 !important;
  }
}

.owl-next {
  margin-right: -25px !important;
  opacity: 1;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 0.6 !important;
  }
}

.owl-theme .owl-controls .owl-buttons {
  max-width: 1020px;
  margin: 0 auto;
}

.owl-theme .owl-controls {
  .owl-pagination {
    position: absolute !important;
    width: 100% !important;
    bottom: -140px !important;
  }
}

.owl-theme .owl-controls .owl-page span {
  background-color: #ffffff;
  opacity: 0.8;
  transform: scale(0.7) !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #e9ba00;
}

.fullscreen-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #434242;
  transition: all 0.3s ease-in-out;
  z-index: 102;
}

.fullscreen-nav.open {
  display: flex;
  flex-flow: column nowrap;
}

.fullscreen-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 70px;
  div:first-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 40px;
    }
  }
  input[type='search'] {
    display: inline-block;
    width: 340px;
    padding: 12px 24px;
    box-shadow: inset 0 1px 0 rgba(28, 28, 28, 0.07);
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.6);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.fullscreen-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 80px;
  padding: 55px 90px;
  border: 10px solid #ffc000;
  div {
    display: inline-flex;
    flex-flow: column wrap;
  }
  span {
    display: block;
    margin-bottom: 20px;
    color: #f5f5f5;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
  }
  a {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.fullscreen-block__big {
  a {
    display: block;
    margin-bottom: 30px;
    color: #f5f5f5;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#close-icon {
  img {
    transition: all 0.2s ease-out;
  }
  &:hover {
    img {
      opacity: 0.6;
      transform: rotate(180deg);
    }
  }
}

#alt-close-icon {
  img {
    transition: all 0.2s ease-out;
  }
  &:hover {
    img {
      opacity: 0.6;
    }
  }
}

.catalog-modal-prev {
  .carousel {
    width: 100%;
    height: 499px;
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
      width: 100%;
      height: 499px;
      border-radius: 3px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.fp-controlArrow.fp-prev {
  left: -20px;
  top: 28px;
  transition: all 0.15s ease-out;
  &:hover {
    opacity: 0.6;
  }
}

.fp-controlArrow.fp-next {
  right: 0;
  top: 28px;
  transition: all 0.15s ease-out;
  &:hover {
    opacity: 0.6;
  }
}