@media (min-width: 1600px) {
  .main-header__container {
    width: 1600px;
  }
}

@media (min-width: 1510px) {
  .main-header__logo {
    a:last-child {
      img {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1600px) {
  .slide-fill-main__about {
    padding: 20px;
  }
}

@media (max-width: 1500px) {
  .main-header__logo {
    a:last-child {
      img {
        display: none;
      }
    }
  }
}

@media (max-width: 1400px) {
  .slider_top {
    top: 20px;
  }
  .slide-fill-main__nav {
    max-width: 450px;
    padding: 30px;
  }
  .fp-slidesNav {
    top: 60px !important;
  }
  .main-content_about {
    background-size: 100% 500px;
  }
  .main-content_map {
    background-size: 100% 500px;
  }
  .main-content_win {
    background-size: 100% 500px;
  }
  .main-content_article {
    background-size: 100% 500px;
  }
  .main-content_dream {
    background-size: 100% 500px;
  }
  .main-content_sale {
    background-size: 100% 500px;
  }
  .main-content_catalog {
    background-size: 100% 700px;
  }
  .main-content_search {
    background-size: 100% 700px;
  }
  .main-header {
    justify-content: space-between;
    padding: 8px 40px;
  }
  .main-header__nav li a {
    margin: 0 10px;
  }
}

@media (max-width: 1360px) {
  .main-header__nav {
    display: none;
  }
  .main-header__logo {
    a:last-child {
      img {
        display: inline-block;
      }
    }
  }
  .main-header__call {
    flex: 1 1 auto;
    text-align: right;
  }
  .main-header__container {
    display: flex;
  }
}

@media (max-width: 1500px) {
  .slide-fill-main__nav {
    padding: 20px;
    width: 450px;
  }
  .slide-fill-main__about {
    max-width: 750px;
  }
  .slide-fill-main__title {
    overflow: inherit;
  }
  .slide-fill-main__about p {
    overflow: inherit;
  }
  .slide-fill-main__nav_sort {
    padding: 30px;
    width: 450px !important;
  }
  .slide-fill-main__nav_sort {
    flex: 0 0 auto;
  }
}

@media (max-width: 1300px) {
  .slide-fill-main__nav_sort {
    margin-top: 20px;
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .slide-fill-main {
    flex-flow: column nowrap;
  }
  .slide-fill-main__about {
    margin-top: 350px;
  }
  .slide-fill-main__title {
    overflow: inherit;
  }
  .slide-fill-main__about p {
    overflow: inherit;
  }
  .slide-fill-main__title {
    overflow: inherit;
  }
  .slide-fill-main__about p {
    overflow: inherit;
  }
}

@media (max-width: 1100px) {
  .slide-footer {
    padding: 20px;
  }
  .slide-fill-main__title {
    margin-bottom: 20px;
  }
  .slide-fill-main__about p {
    margin-bottom: 15px;
  }
  .slide-fill-main__nav {
    margin-top: 40px;
    padding: 20px;
  }
  .slide-fill-main__nav_fixed {
    display: none;
  }
  .slide-fill-main__nav_hide-md {
    display: block;
  }
  .slide-fill-main__title {
    overflow: inherit;
  }
  .slide-fill-main__about p {
    overflow: inherit;
  }
  .slide-fill-main__about {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .slide-fill-main__nav_fixed {
    display: none;
  }
  .slide-fill-main__nav_hide-md {
    display: block;
  }
  .slide-fill-main__about {
    margin-top: 20px;
  }
  .main-header_slider {
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
  }
  .slide-fill-main {
    justify-content: space-around;
  }
  .slide-fill-main__nav {
    padding: 20px;
  }
  .slide-fill {
    padding-top: 75px;
    overflow-y: auto;
  }
  .slide-fill-main__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .fp-slidesNav {
    top: auto !important;
    left: 50% !important;
    right: auto !important;
    bottom: 30px !important;
  }
  .slide-fill-main__nav_sort {
    justify-content: center;
  }
  .slider_top {
    display: none;
  }
  .slider_bottom_1 {
    display: none;
  }
  .slider_bottom_2 {
    display: none;
  }
  .slider_bottom_3 {
    display: none;
  }
  .main-header {
    justify-content: space-around;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
  .main-header__nav {
    display: none;
  }
  .main-content_about {
    background-size: auto 500px;
  }
  .main-content_map {
    background-size: auto 500px;
  }
  .main-content_win {
    background-size: auto 500px;
  }
  .main-content_article {
    background-size: auto 500px;
  }
  .main-content_dream {
    background-size: auto 500px;
  }
  .main-content_sale {
    background-size: auto 750px;
  }
  .main-content_catalog {
    background-size: auto 750px;
  }
  .main-content_search {
    background-size: auto 750px;
  }
  .main-header__logo {
    margin-bottom: 10px;
  }
  .main-header__call {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    span {
      margin: 0;
    }
  }
  .main-title {
    margin-bottom: 20px;
    padding: 12px 24px;
    font-size: 24px;
  }
  .main-card__about-pre {
    padding: 20px;
  }
  .main-card__about-wins {
    padding: 20px;
  }
  .main-sub-title {
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .main-card__about-wins {
    p {
      margin-bottom: 20px;
    }
  }
  .about-wins__cards {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .about-wins__card {
    margin-bottom: 15px;
    span {
      margin-bottom: 0;
    }
    b {
      font-size: 64px;
    }
  }
  .main-card__about-who {
    padding: 20px;
  }
  span {
    margin-top: 20px;
  }
  .main-card {
    margin-bottom: 20px;
  }
  .main-footer {
    padding: 20px 0;
    .container {
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      div:first-child {
        margin-bottom: 10px;
        img {
          margin: 0;
        }
      }
    }
  }
  .fullscreen-header {
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
    div:first-child {
      flex-flow: row wrap;
      justify-content: space-around;
      input[type='search'] {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
  .fullscreen-block {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    padding: 20px;
    text-align: left;
    div {
      width: 100%;
    }
    a {
      margin-bottom: 10px;
    }
  }
  #close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .fullscreen-block__big a {
    margin-bottom: 10px;
  }
  .main-card__contact {
    padding: 20px;
  }
  .main-card__call {
    padding: 20px;
  }
  .main-card-contact__cards {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .main-card-contact__card {
    flex-flow: column nowrap;
    margin-bottom: 20px;
    img {
      margin: 0;
      margin-bottom: 0;
    }
  }
  .main-card__win {
    padding: 20px;
  }
  .main-card__articles {
    padding: 20px;
  }
  .main-card__articles-card span {
    margin: 10px 0;
  }
  .main-card__articles-cards {
    justify-content: space-around;
  }
  .main-card__news-cards {
    padding: 20px;
  }
  .main-card__news-card {
    flex-flow: column nowrap;
    align-items: center;
  }
  .dream-pay {
    padding: 20px;
  }
  .dream-pay__cards {
    flex-flow: column nowrap;
    align-items: center;
  }
  .dream-banks {
    padding: 20px;
  }
  .dream-banks__cards {
    justify-content: space-around;
  }
  .main-card__dream-main {
    padding: 20px;
    p {
      margin-bottom: 20px;
    }
    span {
      margin-bottom: 10px;
    }
  }
  .dream-main__steps {
    flex-flow: column nowrap;
    align-items: center;
  }
  .dream-main__title {
    margin-bottom: 30px;
    font-size: 64px;
  }
  .dream-banks__card img {
    margin: 0;
  }
  .dream-pay__card img {
    margin: 0;
  }
  .dream-main__step {
    p {
      margin: 10px 0;
    }
  }
  .sale-cards {
    padding: 20px;
  }
  .sale-card_simple {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .sale-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .catalog-sort {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .catalog-main {
    padding: 20px;
  }
  .catalog-main__info {
    flex-flow: column nowrap;
    align-items: center;
  }
  .catalog-main__info a {
    margin: 15px auto;
  }
  .catalog-features {
    display: none;
  }
  .fp-tableCell {
    height: auto !important;
  }
  .fp-section.fp-table,
  .fp-slide.fp-table {
    height: auto !important;
  }
  .catalog-modal-info form {
    padding: 10px;
  }
  .catalog-modal__main .catalog-modal-info {
    margin: 0;
  }
  .catalog-modal__why div {
    width: 100%;
    margin-bottom: 0;
  }
  .catalog-modal-prev {
    .carousel {
      height: 300px;
      .carousel-inner>.item>a>img,
      .carousel-inner>.item>img,
      .img-responsive,
      .thumbnail a>img,
      .thumbnail>img {
        height: 300px;
      }
    }
  }
  #citySlider .section {
    min-height: auto !important;
    height: auto !important;
  }
  .slide-fill-main__nav {
    width: auto;
  }
  .slide-fill-main__about p {
    font-size: 15px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}