// bower:scss
// endbower
body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #575757;
}

@font-face {
  font-family: Intro;
  src: url('../fonts/Intro.otf');
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";